@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Parisienne&family=Permanent+Marker&display=swap');

*{
	margin: 0;
}
body{
	background-color: #004071;
	padding: 3em;

}
h1{
	text-align: center;
	background-color:#004071;
	color: #ffd400;
	font-size: 3em;
	font-family: parisienne, cursive;
}
h2{
	text-align: center;
	background-color:#004071;
	color: #abadb0;
	font-size: 2em;
	font-family: parisienne, cursive;
}
h3{
	background-color: #004071;
	color: #abadb0;
	text-align: center;
	font-family: parisienne, cursive;
	font-size: 1.5em;
	padding: .75em;
	
}
h4{
	background-color: white;
	text-align: center;
	margin-bottom: -1em;
	padding-bottom: .5em;
	padding-top: .5em;
	font-family: noto serif, serif;
}
p {
	padding:1em;
	background-color: white;
	color: black;
	font-family: noto serif, serif;
}
ol{
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: noto serif, serif;
}
a{
	color: #004071;
}
.logo-head {
    width: 200px;
}
nav {
	background-color: #abadb0;
	text-align: center;
	border-style: solid;
	border-color: #abadb0;
}
nav ul {
	list-style-type: none;
	padding: 0;
	font-family: noto serif, serif;
}
nav ul li a {
	display: block;
	color: #004071;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	padding-top: .5em;
	padding-bottom: .5em;
}
nav a:hover {
	color: #ffd400;
}
footer{
	margin-top: 3em;
}
footer p {
	text-align: center;
}


.yellow{
	color: #ffd400
}
.blue{
	color: #004071;
	background-color: white;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: 2em;
}
.grey{
	color: #abadb0;
}
.black{
	color: black;
	background-color: white;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: 2em;
}
.white{
	color: white;
}
.list{
	background-color: white;
	font-size: 1.25em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.active {
	background-color: #004071;
    color: #abadb0;
}
.permMarker{
	font-family: permanent marker, sans-serif;
}
.paris{
	font-family: parisienne, cursive;
}
.noto{
	font-family: noto serif, serif;
}