@media only screen and (min-width: 32.5em) {
  .navigation {
    grid-column: 1/4;
    grid-row: 3 /4;
    margin-left: 1em;
    margin-right: 1em;
  }
  .navigation ul li:first-child {
    display: none;
  }
  .navigation ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .navigation ul li {
    display: inline-block;
  }
  h1 {
    font-size: 4em;
    grid-column: 2 /4;
    grid-row: 1 /2;
  }
  .motto{
    font-size: 3em;
    grid-column: 2 /4;
    grid-row: 2 /3;
    margin-top: -1em;
  }
  h2 {
    font-size: 2em;
  }
  .active {
    background-color: #004071;
    color: #abadb0;
  }
  a:hover {
    color: #ffd400;
    background-color: #004071;
  }
  a:visited {
    color: #ffd400;
  }

}
