@media only screen and (min-width: 32.5em) {
  nav {
    margin-left: 1em;
    margin-right: 1em;
    grid-column: 1 /4;
    grid-row: 3 / 4;
    background-color: #abadb0;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .navigation li {
    display: inline-block;
  }
  .navigation li a{
    color: #004071;
  }
  h1 {
    font-size: 4em;
  }
  .motto{
    font-size: 3em;
    margin-top: -1em;
  }
  h2 {
    font-size: 2em;
  }
  .navigation li .active {
    background-color: #004071;
    color: #abadb0;
  }
  .navigation li a:hover {
    color: #ffd400;
    background-color: #004071;
  }
  .navigation li a:visited {
    color: #ffd400;
  }

}
