@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Parisienne&family=Permanent+Marker&display=swap');

body{
    background-color: #004071;
    margin: 3em;

}
h2{
    text-align: center;
	background-color:#004071;
	color: #abadb0;
	font-size: 1.5em;
	font-family: parisienne, cursive;
    margin: 1em;
}
.masthead{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
}

.logo{
    grid-column: 1 /2;
    grid-row: 1 / 3;
    max-width: 100%;
}
h1 {
    grid-column: 2 /3;
    grid-row: 1 /2;
    text-align: center;
	background-color:#004071;
	color: #ffd400;
	font-size: 2em;
	font-family: parisienne, cursive;
    margin-top: -.25em;
   
}
.motto{
    grid-column: 2 /3;
    grid-row: 2 /3;
    text-align: center;
	background-color:#004071;
	color: #abadb0;
	font-size: 1em;
	font-family: parisienne, cursive;
    margin-top: -3em;
}
.navigation{
    grid-column: 3/4;
    grid-row: 1 /2;
    background-color: #abadb0;
	text-align: center;
	border-style: solid;
	border-color: #abadb0;
    margin-right: 2rem;
}
.navigation ul {
    list-style-type: none;
	padding: 0;
	font-family: noto serif, serif;
}
.navigation ul li:first-child{
display: block;
}
.navigation ul li {
    display:none;
}
a{
	display: block;
	color: #004071;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	padding: .5em;
	
}


.respond a:hover {
	color: #ffd400;
    background-color: #004071;
}
.respond a:visited{
    color:#abadb0;
}
.respond {
    grid-column: 2 /4;
    grid-row: 1 /2;
    justify-content: center;
}
.respond ul li{
    display:flex;
    margin: 0;
    justify-content: center;
}
.respond .active{
    background-color: #004071;
    color: #abadb0;
}
.permMarker{
	font-family: permanent marker, sans-serif;
}
.contentbox{
    background-color: #abadb0;
    color: #004071;
    border-style: dotted;
    border-color: #ffd400;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
footer{
	margin-top: 3em;
    color: #abadb0;
}
footer p {
	text-align: center;
}
footer a{
    text-decoration: underline;
}